.formListItem {
  border-radius: 4px;
  width: 24px;
  height: 24px;
  color: white;
  text-align: center;
  margin: 0 2px;
}

.win {
  background-color: darkgreen;
}

.lose {
  background-color: darkred;
}

.draw {
  background-color: darkslategray;
}